body {
  text-align:center;
  font-family:Helvetica;
}

footer {
  font-family:Helvetica;
  font-size:11px;
  color:white;
  background-color:dimgray;
  text-align:left;
}

h1 {
  font-size:70px;
}

h2 {
  font-size:32px;
}

h3 {
  font-size:23px;
}

p {
  font-size:14px;
}

address {
  font-size:14px;
  font-family:Helvetica;
  font-style:normal;
}

nav {
  font-size:18px;
}

ul {
  list-style-type:none;
  padding:0;
  margin:0;
}

a {
  font-family:Helvetica;
  color:white;
}

.footer {
  font-size:11px;
}

.bold {
  font-weight:bold;
}

.pichead {
  color:white;
  background-image:url("../pictures/the-flatiron-building.png");
}

.white {
  color:white;
}
